@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");

/*about*/

:root {
  --primary: blanchedalmond;
  --secondary: #180f0b;
  --background: #da8585;
}

section {
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

section h2 {
  text-align: center;
}

section a {
  text-decoration: none;
  text-align: center;
  background-color: var(--background);
  color: var(--primary);
  border-radius: 0.5rem;
  border: 1px solid var(--primary);
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

section p {
  color: var(--secondary);
  padding-top: 0.8rem;
  padding-bottom: 1.5rem;
  font-size: 1.1rem;
}

#about {
  background-color: var(--primary);
  padding: 1rem 2rem;
  text-align: justify;
  border-radius: 1rem;
}


/*skills*/

h1{ /*change font family of heading*/
	font-family: sans-serif;
}

li{ /*style the li tag*/
	list-style-type: none;
	font-family: sans-serif;
}

.skills{ /*style the text*/
	width: auto;
	margin: 60px auto;
	color: #000000;
}

.skills li{ /*set margin of li*/
	margin: 20px 0;
}

.bar{ /*style the bar*/
	background-color: white;
	display: block;
	height: 5px;
	border: 2px solid rgba(14, 13, 13, 0.3);
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 0 10px #2187e7b3;
}

.bar span{ /*style the span tag*/
	height: 2px;
	float: left;
	background-color: #3d039a;
}
.python{ /*set skills and animation of html*/
	width: 85%;
	animation: python 2s;
}

.html{ /*set skills and animation of html*/
	width: 80%;
	animation: html 2s;
}

.css{ /*set skills and animation of css*/
	width: 90%;
	animation: css 2s;
}

.javascript{ /*set skills and animation of javascript*/
	width: 50%;
	animation: javascript 2s;
}

.node{ /*set skills and animation of jquery*/
	width: 50%;
	animation: node 2s;
}

@keyframes python{ /*animate html skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 85%;
	}
}
@keyframes html{ /*animate html skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 80%;
	}
}

@keyframes css{ /*animate css skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 90%;
	}
}

@keyframes javascript{ /*animate javascript skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 50%;
	}
}

@keyframes node{ /*animate jquery skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 50%;
	}
}
/** changing text**/

@keyframes changewidth {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}
#dynamicContent {
	white-space: nowrap;
}

/** mouse hover**/
.menu { display: flex; align-items: center; justify-content: center; }
.menu  ul  { display: flex; flex-direction:column; flex-wrap: wrap;}
.menu ul li { padding-inline: 20px ; width: fit-content; display: block; border-radius: 12px; list-style: none; color: #000; font-family: "Space Mono", monospace; text-transform: uppercase; margin-block: 15px; transition-duration: 0.4s; cursor: pointer;}
.menu ul li:hover { background: #d31313; color: #fff;}




